@import url(@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

.page-wrapper {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #008080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt-container {
  background-color: white;
  width: 400px;
  padding: 35px 45px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

h1 {
  font-weight: 100;
  font-size: 1.25em; /* 20/16 */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
}

input {
  border-radius: 5px;
  background-color: #E5E9ED;
  border: none;
  margin: 8px 0;
  padding: 16px 16px;
  font-size: 1em; /* 16/16 */
  font-weight: 300;
}

.checkbox-span {
  margin-top: 8px;
}

label {
  font-size: .8em;
  font-weight: 300;
}

#checkbox {
  margin-right: 8px;
  cursor: pointer;
}

button {
  border-radius: 6px;
  padding: 16px 0;
  text-align: center;
  background-color: #1B505C;
  border: none;
  font-size: 1em; /* 16/16 */
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  margin-top: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #008080;
}