<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    Project details <br><br><br><br>

    Project Name: {{result.project_name}} <br><br>
    Project Description: {{result.project_description}}<br><br>
    Developer Email: {{result.email}}<br><br>
    Resource Links: {{result.resource_link}}<br><br>
    GitHub Links: {{result.github_link}}<br><br>

</body>

</html>